// CONFIG
PORT=3000
CORS=*

// MONGO
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

// USERS
DEFAULT_ADMIN_PASSWORD=root
DEFAULT_USER_PASSWORD=secret

//AUTH
AUTH_JWT_SECRET=rVOfd62igto3wI9yhDn80MQKxvqmXlpN

// API KEYS
PUBLIC_API_KEY_TOKEN=
ADMIN_API_KEY_TOKEN=
